main {
    grid-template-areas: "page-heading" "section-three" "section-one" "section-two";
    grid-template-columns: auto auto;
}

.form main {
    grid-template-columns: auto;
}

.form main h1:first-child {
    grid-column: 1;
}

.form-it-self {
    grid-column: 1;
}
