:root {
    --main-bg-color:#8f5118;
    --main-bg-color-rgba: #b88b48;
    --nav-bg-color-rgba: rgba(255, 255, 255, 0.9);
    --main-text-color:#000000;
    --background-odd: rgba(255, 203, 126, 0.9);
    --background-even: rgb(207, 137, 72);
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

main,
article,
section,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    padding: 1%;
}

html {
    background-image: url(../images/tdgarden.jfif);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body {
    margin: .5% auto;
    max-width: 55em;
}

h1 {
    padding: 5%;
    text-align: center;
}

h2 {
    text-align: center;
}

header h1,
header h2 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

nav,
footer {
    background-color: white;
    border-bottom: medium solid var(--main-bg-color);
    padding: 1% 0;
    text-align: center;
}

main {
    background-color: var(--main-bg-color-rgba);
    padding: 10%;
}

footer {
    clear: both;
}

.jt, .kupp, .lt {
    width: auto;
}

.ffwithteams {
    width: 75%;
}

footer a:hover {
    background-color: #8f5118;
    color: rgb(255, 255, 255);
}

cite {
    font-size: small;
}

figure {
    text-align: center;
    width: 37%;
    margin-top: 1em;
    padding: 2%;
}

figcaption {
    text-align: center;
    width: 100%;
}

h1, h2 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

img {
    max-width: 100%;
    border-radius: 10%;
    border: medium solid #8f5118;

}

p {
    color: rgb(255, 255, 255);
    text-align: left;
    text-indent: 3em;
    padding-bottom: 1em;
}

section + section h2 {
    clear: both;
}

li:nth-child(odd) {
    background-color: var(--background-odd);
}

ol {
    margin: 1em;
}

ol li {
    padding-left: 1em;
}

li:nth-child(even) {
    background-color: var(--background-even);
}

form {
    background-color: var(--main-bg-color-rgba);
    border: thin solid black;
    clear: both;
    max-width: 30em;
    margin: auto;
    padding: 1%;
}

form p {
    text-indent: 0;
}

fieldset {
    padding: 1.5%;
}

legend {
    margin-top: 1%;
}

table {
    border: medium solid black;
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;
}

table+p {
    padding-top: 1em;
}

td,
th {
    border: thin dashed black;
    padding: .53em
}

tr:nth-child(odd) {
    background-color: var(--background-odd);
}

tr:nth-child(even) {
    background-color: var(--background-even);
}

caption {
    font-variant: small-caps;
    font-weight: bold;
    padding-top: 1em;
}
nav a:link {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2em 0.2em;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: #8f5118;
}

nav a {
    display: inline-block;
    width: 19%;
    color: black;
}

a:hover {
    color: rgb(255, 255, 255);
    background: #8f5118;
}

a:visited {
    color:rgb(33, 0, 180);
}

nav {
    border: thin solid rgb(0, 0, 0);
    background-color: white;
    text-align: center;
}

main {
    display: grid;
    grid-template-areas: "page-heading page-heading" "section-three section-one" "section-two section-two";
    grid-template-columns: auto;
    grid-gap: 1%;
}

main h1:first-child {
    grid-area: page-heading;
}

.jt-photo {
    grid-area: page-heading;
    padding-bottom: 7%;
    padding-top: 15%;
}

.lt-photo {
    grid-area: section-two;
    padding-bottom: 7%;
}

.QBtable {
    grid-area: section-two;
}

.QBtable tr:hover {
    background-color: rgb(0, 126, 42);
}


.qb, .rb, .wr {
    grid-area: section-three;
}

.fflogo {
    width: 91%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.form main {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 30% auto;
}

.form main h1:first-child {
    grid-column: 1 / 2;
    grid-row: 1;
}

.form-info {
    grid-column: 1;
    grid-row: 2;
}

.form-it-self {
    grid-column: 1 / 2;
    grid-row: 3;
}

.form-feedback {
    grid-column: 1;
    grid-row: 4;
}

label {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

input[type="text"] {
    width: 75%;
    padding: 5% 5%;
    margin: 1em 0;
    color: rgb(0, 0, 0);
    border: .25em solid #8f5118;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

.listbox {
    height: 100%;
}

.textarea {
    height: 100%;
}

.buttons {
    height: 100%;
    padding: 2.5%;
}

.activePage {
    background-color: #b88b48;
}

.rounded {
    height: auto;
    width: auto;
}